/*-------------------------------------------*\
                    index.css
----------------------------------------------
Index
- Body 
- Form
- Displayed Items 
\*-------------------------------------------*/
/*---------------------------------------------
                BODY, TYPOGRAPHY
----------------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    Font-Family: 'Droid Serif', Serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #232946;
    color: black;
}

.container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/*---------------------------------------------
                BUTTONS
----------------------------------------------*/
button:hover {
    cursor: pointer;
    background-color: #b8c1ec;
}

ul {
    list-style-type: none;
}

h1 {
    padding-top: 60px;
    color: #fffffe;
    font-size: 3rem;
    Font-Family: 'Roboto', Sans-Serif;
}

/*---------------------------------------------
                    FORM
----------------------------------------------*/

.todo-form {
    margin: 40px 0px;
}

.todo-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.add-button {
    background-color: #eebbc3;
    color: #232946;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2rem;
}

.check-box {
    margin-right: 10px;
}


.checked {
    text-decoration: line-through;
}

/*---------------------------------------------
                DISPLAYED ITEMS
----------------------------------------------*/
.todo-items {
    min-width: 350px;
}

.item {
    background-color: #eebbc3;
    padding: 10px;
    font-size: 1.1rem;
}

.item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.delete-button {
    float: right;
    background-color: #eebbc3;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
}

/*---------------------------------------------
                END OF CSS
----------------------------------------------*/